// techExp_section
.techExp_section {
    padding: 1rem 0 !important;
    @include size(max-991) {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .row {
        align-items: center;
        .col_title {
            @include size(max-991) {
                order: -1;
            }
        }
        .col_table {
            padding-top: 0rem;
            padding-bottom: 0rem;
            padding-right: 3rem;
            @include size(max-1560) {
                // padding-top: 1rem;
                // padding-bottom: 1rem;
                padding-right: 2rem;
            }
            @include size(max-991) {
                padding: 0 1rem;
                // padding-top: 2rem;
            }
            @include size(max-767) {
                padding: 0 1rem;
                // padding-top: 2rem;
            }
            .table_wrap {
                position: relative;
                // background-image: url(../images/techExp-bg-img.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                // min-height: 600px;
                padding: 0px 0rem;
                display: grid;
                align-items: center;
                @include size(max-1560) {
                    // padding-top: 120px;
                    // padding-bottom: 80px;
                }
                @include size(max-1200) {
                    // padding-top: 50px;
                    // padding-bottom: 20px;
                    // min-height: 500px;
                }
                @include size(max-991) {
                    // padding-top: 40px;
                    // padding-bottom: 20px;
                    // min-height: 450px;
                }
                @include size(max-767) {
                    // padding-top: 0px;
                    // padding-bottom: 0px;
                    // min-height: 400px;
                }
                .svg_wrap {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    @include size(max-767) {
                        top: 0;
                        left: 0;
                        height: auto;
                        transform: none;
                    }
                    .blob {
                        width: 100%;
                        height: 100%;
                    }
                    .blob path {
                        animation: blob 9s linear infinite;
                    }
                    @keyframes blob {
                        0% {
                            d: path(
                                "M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"
                            );
                        }
                        25% {
                            d: path(
                                "M67.8,-97.1C87.8,-78.8,103.8,-58.9,117.4,-34.1C130.9,-9.4,142,20.2,139.5,50.7C137,81.2,120.8,112.6,95.3,150.1C69.8,187.7,34.9,231.3,3.3,226.8C-28.2,222.2,-56.4,169.3,-91.6,134.9C-126.8,100.5,-169,84.6,-179.6,57.1C-190.2,29.7,-169.3,-9.3,-155.2,-49.7C-141,-90.1,-133.7,-132,-109,-148.8C-84.2,-165.6,-42.1,-157.3,-9.1,-144.8C23.9,-132.2,47.8,-115.5,67.8,-97.1Z"
                            );
                        }
                        50% {
                            d: path(
                                "M137.1,-191.3C172,-163.4,190.6,-115.7,197.2,-70.1C203.8,-24.4,198.5,19.2,178.9,51.5C159.3,83.9,125.5,105,93.3,129.6C61.1,154.1,30.6,182.1,1.1,180.6C-28.4,179.1,-56.8,148.2,-81.2,121.1C-105.6,94.1,-126.1,70.8,-141.6,41.6C-157.2,12.4,-168,-22.9,-153.9,-45C-139.8,-67,-100.7,-76,-70.9,-105.5C-41.1,-135,-20.6,-185,15.3,-206C51.1,-227.1,102.3,-219.1,137.1,-191.3Z"
                            );
                        }
                        75% {
                            d: path(
                                "M123.7,-157.1C162.4,-142.2,197.2,-108.8,202.8,-70.8C208.3,-32.9,184.5,9.7,169,54.2C153.6,98.7,146.4,145.2,119.7,162.7C92.9,180.2,46.4,168.6,-1.9,171.1C-50.2,173.7,-100.3,190.4,-122.2,171.3C-144.1,152.3,-137.7,97.5,-144.1,52.7C-150.6,7.9,-169.9,-26.8,-170.5,-64.8C-171,-102.8,-152.8,-144,-121.3,-161.3C-89.7,-178.5,-44.9,-171.8,-1.2,-170.1C42.5,-168.5,85,-172,123.7,-157.1Z"
                            );
                        }
                        100% {
                            d: path(
                                "M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"
                            );
                        }
                    }

                    .dwf,
                    .share {
                        position: fixed;
                        bottom: 4px;
                        right: 10px;
                        background-color: #0003;
                        padding: 3px;
                        border-radius: 3px;
                        .btn {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                    .share {
                        right: auto;
                        left: 10px;
                        border-radius: 50%;
                        padding: 5px;
                        .twitter {
                            width: 20px;
                            fill: #fff;
                            stroke: none;
                            overflow: visible;
                        }
                    }
                }
                .table_box {
                    background-color: white;
                    box-shadow: 0 2px 22px rgba(#000, 0.15);
                    min-height: 300px;
                    border-radius: 10px;
                    padding: 3rem 0;
                    margin: 120px 0rem;
                    @include size(max-1560) {
                        margin: 100px 0rem;
                        padding: 2rem 0rem;
                    }
                    @include size(max-1200) {
                        margin: 60px 0rem;
                        padding: 1.5rem 0rem;
                    }
                    @include size(max-767) {
                        margin: 50px 0rem 0 0;
                        padding: 0rem;
                        box-shadow: 0 2px 22px rgba(#000, 0.1);
                    }
                    .table {
                        width: 100%;
                        border: none;
                        box-sizing: border-box;
                        tr {
                            &:nth-child(odd) {
                                background-color: #f8f8f8;
                            }
                            @include size(max-767) {
                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                            }
                            th,
                            td {
                                padding: 1.25rem 1rem;
                                text-align: center;
                                @include size(max-1560) {
                                    padding: 0.75rem 0.75rem;
                                }
                                @include size(max-1200) {
                                    padding: 0.65rem;
                                }
                            }
                            th {
                                font-size: 1.5rem;
                                font-weight: 500;
                                color: #0a403a;
                                text-align: left;
                                padding-left: 2rem;
                                @include size(max-1560) {
                                    font-size: 1.125rem;
                                    padding-left: 1rem;
                                }
                                @include size(max-767) {
                                    grid-column: span 5;
                                    text-align: center;
                                    padding: 0.65rem;
                                    font-size: 1.2rem;
                                    background: #f8f8f8;
                                }
                            }
                            td {
                                @include size(max-767) {
                                    background-color: white;
                                    border: solid 1px #f8f8f8;
                                    box-sizing: border-box;
                                }
                                &:last-child {
                                    padding-right: 2rem;
                                    @include size(max-1560) {
                                        padding-right: 1rem;
                                    }
                                }
                                .icon_wrap {
                                    height: 36px;
                                    max-width: 160px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    @include size(max-1560) {
                                        height: 28px;
                                        max-width: 100px;
                                    }
                                    @include size(max-1200) {
                                        height: 26px;
                                        max-width: 80px;
                                    }
                                    img {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// induExpe_section
.induExpe_section {
    background-color: #f9f7f9;

    .col_slider {
        @include size(max-991) {
            margin-top: 2rem;
        }
        .slider_wrap {
            overflow: hidden;
        }
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        // background-color: #fff;
        overflow: hidden;
        border-radius: 6px;
        position: relative;
        filter: brightness(0.8);
        &.swiper-slide-active {
            filter: none;
            .detail {
                opacity: 1;
            }
        }
        .picture {
            width: auto;
            height: 480px;
            overflow: hidden;
            @include size(max-1560) {
                height: 380px;
            }
            @include size(max-1200) {
                height: 280px;
            }
            @include size(max-767) {
                height: 220px;
            }
            @include size(max-540) {
                height: 240px;
            }
            @include size(max-380) {
                height: 220px;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .detail {
            position: absolute;
            bottom: 0.25rem;
            left: 0;
            padding: 1.5rem;
            text-align: center;
            opacity: 0.7;
            transition: opacity 400ms;
            @include size(max-1560) {
                padding: 1.25rem;
            }
            @include size(max-1200) {
                bottom: 0;
                padding: 1.25rem 1rem;
            }
            h3 {
                font-size: 2.5rem;
                line-height: normal;
                color: white;
                font-weight: 600;
                margin: 0;
                @include size(max-1560) {
                    font-size: 2rem;
                }
                @include size(max-1200) {
                    font-size: 1.5rem;
                }
                @include size(max-767) {
                    font-size: 1.25rem;
                }
                @include size(max-382) {
                    font-size: 1.125rem;
                }
            }
        }
    }
}

// work_section
.work_section {
    .slider_wrap {
        .slick {
            position: relative;
            .item_wrap {
                .row {
                    justify-content: center;
                    .col_img {
                        .img_wrap {
                            max-width: 400px;
                            margin-left: auto;
                            margin-right: auto;
                            @include size(max-1560) {
                                max-width: 350px;
                            }
                            @include size(max-1200) {
                                max-width: 300px;
                            }
                            @include size(max-991) {
                                max-width: 280px;
                            }
                            @include size(max-767) {
                                max-width: 220px;
                                margin-bottom: 1.5rem;
                            }
                        }
                    }
                    .col_content {
                        .content_wrap {
                            .title {
                                @include size(max-1200) {
                                    margin-bottom: 1.5rem;
                                }
                                @include size(max-991) {
                                    margin-bottom: 1.25rem;
                                }
                                @include size(max-767) {
                                    margin-bottom: 1rem;
                                }
                                h2,
                                h3,
                                h4 {
                                    font-size: 3rem;
                                    font-weight: 600;
                                    @include size(max-1560) {
                                        font-size: 2rem;
                                    }
                                    @include size(max-1200) {
                                        font-size: 1.75rem;
                                    }
                                    @include size(max-991) {
                                        font-size: 1.35rem;
                                    }
                                    @include size(max-767) {
                                        font-size: 1.25rem;
                                    }
                                }
                            }
                            ul.style_dot {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                max-width: 600px;
                                li {
                                    position: relative;
                                    font-size: 1.25rem;
                                    margin-bottom: 1.75rem;
                                    font-weight: 500;
                                    padding-left: 2.25rem;
                                    @include size(max-1560) {
                                        font-size: 1.125rem;
                                        margin-bottom: 1.25rem;
                                        padding-left: 1.5rem;
                                    }
                                    @include size(max-991) {
                                        font-size: 1rem;
                                        margin-bottom: 1rem;
                                        padding-left: 1.5rem;
                                    }
                                    @include size(max-767) {
                                        font-size: 0.875rem;
                                        margin-bottom: 0.75rem;
                                        padding-left: 1.25rem;
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 0rem;
                                        transform: translateY(-50%);
                                        width: 15px;
                                        height: 15px;
                                        border-radius: 50px;
                                        background-color: $clr-primary--300;
                                        @include size(max-1200) {
                                            width: 12px;
                                            height: 12px;
                                        }
                                        @include size(max-767) {
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                            .btn_wrap {
                                @include size(max-991) {
                                    margin-top: 1.5rem;
                                }
                                @include size(max-767) {
                                    margin-top: 1.25rem;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            .slick-dots {
                position: absolute;
                top: 0;
                right: 0;
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;

                li {
                    list-style: none;
                    height: 100%;
                    position: relative;
                    display: grid;
                    align-items: center;
                    padding-right: 1.5rem;
                    @include size(max-1200) {
                        padding-right: 0.5rem;
                    }
                    @include size(max-991) {
                        padding-right: 0.4rem;
                    }
                    @include size(max-767) {
                        padding-right: 0.25rem;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 80%;
                        width: 10px;
                        background-color: $clr-primary--300;
                        opacity: 0;
                        transition: opacity 400ms;
                        @include size(max-1200) {
                            width: 8px;
                        }
                        @include size(max-991) {
                            width: 6px;
                        }
                        @include size(max-767) {
                            width: 4px;
                        }
                    }
                    button {
                        font-size: 2.25rem;
                        color: #8d8d8d;
                        border: none;
                        background-color: transparent;
                        font-weight: 600;
                        @include size(max-1200) {
                            font-size: 1.75rem;
                        }
                        @include size(max-991) {
                            font-size: 1.5rem;
                        }
                        @include size(max-767) {
                            font-size: 1.25rem;
                        }
                    }
                    &.slick-active {
                        &::before {
                            opacity: 1;
                        }
                        button {
                            color: $clr-dark--900;
                        }
                    }
                }
            }
        }
    }
}

// prodDeve_section
.prodDeve_section {
    @include size(max-1200) {
        padding-top: 1.5rem !important;
        padding-bottom: 1rem !important;
    }
    @include size(max-767) {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .prodDeve_wrap {
        background-image: url(../images/end-to-end-bg-img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 7rem 4rem;
        @include size(max-1560) {
            padding: 4rem 2rem;
        }
        @include size(max-991) {
            padding: 2rem 1rem;
        }
        @include size(max-767) {
            background-position: 75%;
        }
        .content_wrap {
            max-width: 600px;
            margin-left: auto;
            margin-right: 0;
            @include size(max-1200) {
                max-width: 450px;
            }
            @include size(max-991) {
                max-width: 380px;
            }
            .sc_title_wrap {
                @include size(max-991) {
                    text-align: left;
                }
                .main_text {
                    @include size(max-1200) {
                        margin-bottom: 1rem;
                    }
                    h3 {
                        @include size(max-1200) {
                            font-size: 2.25rem;
                        }
                        @include size(max-991) {
                            font-size: 1.75rem;
                        }
                        @include size(max-767) {
                            font-size: 1.5rem;
                        }
                    }
                }
                .sub_text {
                    min-height: 100px;
                    @include size(max-1560) {
                        min-height: 60px;
                    }
                    @include size(max-1200) {
                        min-height: unset;
                        margin-bottom: 2rem;
                    }
                    @include size(max-991) {
                        margin-bottom: 1rem;
                        font-size: 0.875rem;
                    }
                    @include size(max-767) {
                        margin-bottom: 1.5rem;
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}

// workToge_section
.workToge_section {
    .sc_title_wrap {
        .main_text {
            @include size(max-991) {
                br {
                    display: none;
                }
            }
        }
    }
    .content_wrap {
        .content_list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            &.col_2 {
                grid-template-columns: repeat(2, 1fr);
            }
            &.col_4 {
                grid-template-columns: repeat(4, 1fr);
                @include size(max-991) {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include size(max-767) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @include size(max-380) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
            li {
                list-style: none;
                &:nth-child(n + 4) {
                    .content_box {
                        padding-bottom: 0;
                    }
                }
                .content_box {
                    padding-right: 1rem;
                    padding-left: 1.5rem;
                    padding-bottom: 2rem;
                    position: relative;
                    height: 100%;
                    border-left: solid 1px #d3d3d3;
                    @include size(max-1200) {
                        padding-right: 0.5rem;
                        padding-left: 1rem;
                        padding-bottom: 1.5rem;
                    }
                    @include size(max-991) {
                        padding-bottom: 1rem !important;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -2.5px;
                        width: 5px;
                        height: 35px;
                        border-radius: 10px;
                        background-color: $clr-primary--300;
                        z-index: 2;
                    }
                    h4 {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 0.75rem;
                        @include size(max-1560) {
                            font-size: 1.125rem;
                        }
                        @include size(max-1200) {
                            font-size: 1rem;
                            margin-bottom: 0.5em;
                        }
                        @include size(max-540) {
                            font-size: 0.875rem;
                            margin-bottom: 0.5em;
                        }
                    }
                    p {
                        font-size: 1.25rem;
                        color: #8d8d8d;
                        @include size(max-1560) {
                            font-size: 1rem;
                        }
                        @include size(max-1200) {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
        .btn_wrap {
            @include size(max-1200) {
                margin-top: 2rem;
            }
        }
    }
}

// newsBlog_section
.newsBlog_section {
    background-color: #f9f7f9;
    &.bgClr_maire {
        background-color: #221b04;
        .sc_title_wrap {
            .main_text {
                h3 {
                    color: white;
                }
            }
        }
        .content_wrap {
            color: #8d8d8d;
            h3 {
                color: white;
            }
        }
        .btn_wrap {
            .btn {
                @extend .btn_white_border;
            }
        }
    }
    .row {
        .col_blog {
            @include size(max-991) {
                margin-bottom: 1.5rem;
            }
            .blog_wrap {
                .img_wrap {
                    margin-bottom: 0.75rem;
                    img {
                        width: 100%;
                    }
                }
                .content_wrap {
                    h3 {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 0.5rem;
                        @include size(max-1560) {
                            font-size: 1.25rem;
                        }
                        @include size(max-1200) {
                            font-size: 1.125rem;
                        }
                        @include size(max-991) {
                            font-size: 1.25rem;
                        }
                        @include size(max-767) {
                            font-size: 1.125rem;
                        }
                    }
                    p {
                        font-size: 1.125rem;
                        color: #8d8d8d;
                        margin-bottom: 0.5rem;
                        @include size(max-1560) {
                            font-size: 1rem;
                        }
                        @include size(max-991) {
                            font-size: 0.875rem;
                        }
                    }
                    .date {
                        font-size: 1rem;
                        color: #8d8d8d;
                        @include size(max-1200) {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
        .col_blog_list {
            .blog_list_wrap {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    .blog_wrap {
                        display: grid;
                        grid-template-columns: 240px 1fr;
                        margin-bottom: 0.75rem;
                        @include size(max-1560) {
                            grid-template-columns: 185px 1fr;
                        }
                        @include size(max-1200) {
                            grid-template-columns: 130px 1fr;
                        }
                        @include size(max-767) {
                            grid-template-columns: 90px 1fr;
                        }
                        .img_wrap {
                            img {
                                width: 100%;
                            }
                        }
                        .content_wrap {
                            padding-left: 1rem;
                            @include size(max-767) {
                                padding-left: 0.75rem;
                            }
                            h3 {
                                font-size: 1.5rem;
                                font-weight: 600;
                                margin-bottom: 0.75rem;
                                @include size(max-1560) {
                                    font-size: 1.25rem;
                                }
                                @include size(max-1200) {
                                    font-size: 1.125rem;
                                    margin-bottom: 0.25em;
                                }
                                @include size(max-767) {
                                    font-size: 1rem;
                                    margin-bottom: 0.25em;
                                }
                            }
                            p {
                                font-size: 1.125rem;
                                color: #8d8d8d;
                                margin-bottom: 0.75rem;
                                @include size(max-1560) {
                                    font-size: 0.875rem;
                                    margin-bottom: 0.25em;
                                }
                            }
                            .date {
                                font-size: 1rem;
                                color: #8d8d8d;
                                @include size(max-1200) {
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// success_section
.success_section {
    .slider_wrap {
        --slider-width: 1300px;
        max-width: var(--slider-width);
        margin-left: auto;
        margin-right: auto;
        @include size(max-1560) {
            --slider-width: 1200px;
        }
        @include size(max-1200) {
            --slider-width: 940px;
        }
        @include size(max-991) {
            --slider-width: 700px;
        }
        @include size(max-767) {
            --slider-width: 500px;
        }
        @include size(max-540) {
            --slider-width: 380px;
        }
        @include size(max-380) {
            --slider-width: 360px;
        }
        .slick {
            .item_wrap {
                text-align: center;
                --shape-size: 40px;
                @include size(max-1560) {
                    --shape-size: 30px;
                }
                @include size(max-1200) {
                    --shape-size: 25px;
                }
                @include size(max-991) {
                    --shape-size: 22px;
                }
                @include size(max-767) {
                    --shape-size: 20px;
                }
                .content_wrap {
                    border-bottom: solid 1px #e1e1e1;
                    position: relative;
                    padding-bottom: 1rem;
                    margin-bottom: calc(var(--shape-size) + 2rem);
                    width: var(--slider-width);
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    min-height: 180px;
                    opacity: 0;
                    transition: opacity 400ms;
                    @include size(max-767) {
                        min-height: 200px;
                    }
                    &::before {
                        content: "";
                        display: block;
                        background-image: url(../images/icons/quote-left.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        width: 40px;
                        height: 40px;
                        margin: auto;
                        margin-bottom: 1.5rem;
                        @include size(max-991) {
                            width: 30px;
                            height: 30px;
                            margin-bottom: 1rem;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: calc(var(--shape-size) / -1);
                        left: 50%;
                        transform: translateX(-50%);
                        width: var(--shape-size);
                        height: var(--shape-size);
                        border-left: calc(var(--shape-size) / 2) solid transparent;
                        border-right: calc(var(--shape-size) / 2) solid transparent;
                        border-top: var(--shape-size) solid #000;
                        display: inline-block;
                    }
                    p {
                        font-size: 1.25rem;
                        color: $clr-dark--900;
                        margin-bottom: 0.75rem;

                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include size(max-1560) {
                            font-size: 1.125rem;
                        }
                        @include size(max-1200) {
                            font-size: 1rem;
                            -webkit-line-clamp: 5;
                        }
                        @include size(max-767) {
                            font-size: 1rem;
                            -webkit-line-clamp: 6;
                        }
                    }
                }
                .user_wrap {
                    .avatar {
                        width: 150px;
                        height: 150px;
                        border-radius: 150px;
                        overflow: hidden;
                        margin: auto;
                        margin-bottom: 1.5rem;
                        opacity: 0.5;
                        transform: scale(0.78);
                        transition: opacity 400ms, transform 400ms;
                        @include size(max-1560) {
                            width: 130px;
                            height: 130px;
                        }
                        @include size(max-1200) {
                            width: 120px;
                            height: 120px;
                        }
                        @include size(max-991) {
                            width: 100px;
                            height: 100px;
                        }
                        &:hover {
                            opacity: 0.75;
                            cursor: pointer;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .user_details {
                        width: var(--slider-width);
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: opacity 400ms;
                        h4 {
                            font-size: 2.25rem;
                            font-weight: 600;
                            margin-bottom: 0.5rem;
                            color: #000;
                            @include size(max-1560) {
                                font-size: 1.75rem;
                            }
                            @include size(max-1200) {
                                font-size: 1.5rem;
                            }
                            @include size(max-991) {
                                font-size: 1.25rem;
                            }
                        }
                        p {
                            font-size: 1.125rem;
                            color: #000;
                            @include size(max-1560) {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .slick-slide {
                &.slick-center {
                    .item_wrap {
                        .content_wrap {
                            opacity: 1;
                            @for $i from 1 through 4 {
                                &:nth-child(#{$i}) {
                                    animation-name: fadeInFor;
                                    animation-duration: 200ms + 100ms * $i;
                                }
                            }
                        }
                        .user_wrap {
                            .avatar {
                                opacity: 1;
                                transform: none;
                            }
                            .user_details {
                                opacity: 1;
                                @for $i from 1 through 4 {
                                    &:nth-child(#{$i}) {
                                        animation-name: fadeInFor;
                                        animation-duration: 200ms + 100ms * $i;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// inquiries_section
.inquiries_section {
    background-color: #000;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    @include size(max-767) {
        position: relative;
    }
    .row {
        display: grid;
        align-items: flex-end;
        grid-template-columns: 1.75fr 1fr;
        @include size(max-1560) {
            grid-template-columns: 1.5fr 1fr;
        }
        @include size(max-1200) {
            grid-template-columns: 1.4fr 1fr;
        }
        @include size(max-991) {
            grid-template-columns: 1fr;
        }
        .col_info {
            display: flex;
            align-items: center;
            position: relative;
            @include size(max-767) {
                overflow: hidden;
                padding-top: 1rem;
                flex-wrap: wrap;
            }
            .img_wrap {
                width: 50%;
                @include size(max-767) {
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                    opacity: 0.35;
                }
                img {
                    max-height: 750px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    @include size(max-1560) {
                        max-height: 550px;
                    }
                    @include size(max-1200) {
                        max-height: 100%;
                    }
                    @include size(max-991) {
                        max-height: 400px;
                    }
                    @include size(max-767) {
                        max-height: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
            .info_wrap {
                width: 50%;
                padding: 1rem;
                @include size(max-767) {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                }
                .sc_title_wrap {
                    max-width: 500px;
                    @include size(max-991) {
                        text-align: left;
                    }
                    .main_text {
                        margin-bottom: 2rem;
                        @include size(max-1200) {
                            margin-bottom: 1rem;
                        }
                        h3 {
                            font-size: 3rem;
                            text-transform: unset;
                            @include size(max-1560) {
                                font-size: 2.25em;
                            }
                            @include size(max-1200) {
                                font-size: 1.75em;
                            }
                            @include size(max-767) {
                                font-size: 1.85em;
                            }
                        }
                    }
                    .sub_text {
                        font-size: 1.25rem;
                        line-height: 1.4em;
                        @include size(max-1560) {
                            font-size: 1rem;
                        }
                        @include size(max-1200) {
                            font-size: 0.875rem;
                        }
                        @include size(max-767) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .contact_wrap {
                position: absolute;
                left: 10%;
                bottom: 40px;
                @include size(max-1200) {
                    left: 5%;
                    bottom: 30px;
                }
                @include size(max-991) {
                    bottom: 30px;
                    left: 0;
                    width: 100%;
                }
                @include size(max-767) {
                    z-index: 2;
                    position: static;
                    width: 100%;
                    padding: 0 1rem;
                    margin-bottom: 2rem;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: grid;
                    align-items: center;
                    gap: 3rem;
                    @include size(max-1200) {
                        gap: 1rem;
                        justify-content: center;
                    }
                    @include size(max-767) {
                        grid-template-columns: 1fr;
                    }
                    li {
                        list-style: none;
                        grid-row: 1;
                        @include size(max-767) {
                            grid-row: unset;
                        }
                        span {
                            margin-right: 0.75rem;
                            display: inline-block;
                            vertical-align: middle;
                            @include size(max-1200) {
                                margin-right: 0.35rem;
                                img {
                                    max-width: 25px;
                                    max-height: 25px;
                                }
                            }
                            @include size(max-767) {
                                margin-right: 0.5rem;
                                img {
                                    max-width: auto;
                                    max-height: auto;
                                }
                            }
                        }
                        a {
                            text-decoration: none;
                            font-size: 1.5rem;
                            display: inline-block;
                            color: white;
                            font-weight: 600;
                            transition: color 400ms;
                            @include size(max-1560) {
                                font-size: 1.125rem;
                            }
                            @include size(max-1200) {
                                font-size: 1rem;
                            }
                            @include size(max-767) {
                                font-size: 1.125rem;
                            }
                            &:hover {
                                color: $clr-primary--300;
                            }
                        }
                    }
                }
            }
        }
        .col_info_form {
            padding-left: 1rem;
            padding-right: 10%;
            @include size(max-991) {
                padding-left: 5%;
                padding-right: 5%;
            }
            @include size(max-767) {
                padding-left: 2rem;
                padding-right: 2rem;
            }
            .form_wrap {
                background-color: white;
                border-radius: 12px;
                padding: 3rem;
                margin-bottom: -70px;
                box-shadow: 0 4px 18px 2px rgba(#000, 0.15);
                @include size(max-1560) {
                    padding: 2rem 2.25rem;
                }
                @include size(max-1200) {
                    padding: 1.5rem;
                }
                @include size(max-991) {
                    padding: 1.5rem 3rem;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include size(max-767) {
                    padding: 1.5rem 1.5rem;
                }
                .form {
                    .title {
                        font-size: 2.75rem;
                        @include size(max-1560) {
                            font-size: 2rem;
                            margin-bottom: 1.5rem;
                        }
                        @include size(max-1200) {
                            font-size: 1.5rem;
                            margin-bottom: 0rem;
                        }
                    }
                    .input_group {
                        .input {
                            padding: 1rem 0;
                            border: none;
                            border-radius: 0;
                            box-shadow: none;
                            font-size: 1.25rem;
                            color: #000;
                            font-weight: 600;
                            border-bottom: solid 1px #9b9b9b;
                            @include size(max-1560) {
                                font-size: 1.125rem;
                                padding: 0.75rem 0;
                            }
                            &::placeholder {
                                font-weight: 500;
                                color: #989898;
                            }
                        }
                        &.phone_group {
                            display: grid;
                            grid-template-columns: 100px 1fr;
                            gap: 2.5rem;
                            .code {
                                font-weight: 500;
                                color: #989898;
                            }
                        }
                        &.btn_wrap {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
