:root {
    --header-height: 140px;
    // --banner-height: 600px;
    @include size(max-1560) {
        --header-height: 100px;
    }
    @include size(max-1200) {
        --header-height: 80px;
    }
    @include size(max-767) {
        --header-height: 60px;
    }
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    z-index: 999;
    transition: height 400ms, box-shadow 400ms;

    &.bg_white {
        --header-height: 85px;
        @include size(max-1560) {
            --header-height: 70px;
        }
        @include size(max-1200) {
            --header-height: 60px;
        }
        @include size(max-767) {
            --header-height: 60px;
        }

        position: relative;
        background-color: rgba(rgb(255, 255, 255), 1);
        box-shadow: 0 2px 18px 0px rgba(#000, 0.075);
        .header_row {
            .logo_wrap {
                .white {
                    display: none;
                }
                .black {
                    display: block;
                }
            }
            .nva_wrap {
                .nav_toggle_wrap {
                    .menu {
                        circle {
                            fill: #f6f6f6;
                        }
                        path {
                            stroke: #000000;
                        }
                    }
                }
                .nav {
                    .item {
                        .link {
                            color: #000;
                        }
                        &.sub_menu {
                            .link {
                                &::before {
                                    border-top-color: #222;
                                }
                            }
                            .sub_menu__wrap {
                                background-color: white;
                                box-shadow: 0 2px 20px -2px rgba(#000000, 0.12);
                                @include size(max-991) {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.fixed {
        position: fixed !important;
        // height: calc(var(--header-height) - 80px);

        @extend .bg_white;

        --header-height: 75px;
        @include size(max-1560) {
            --header-height: 65px;
        }
        @include size(max-1200) {
            --header-height: 60px;
        }
        @include size(max-767) {
            --header-height: 60px;
        }
        // scroll-margin-top: var(--header-height);
        height: var(--header-height);
        transition: height 400ms;
        box-shadow: 0 2px 18px 0px rgba(#000, 0.1);
        animation: shofixnav 400ms linear;
        @keyframes shofixnav {
            0%{
                opacity: 0;
                transform: translateY(-80%);
            }
            50%{
                opacity: 0;
            }
            100%{
                opacity: 1;
                transform: none;
            }
        }
    }

    .header_row {
        align-items: center;
        .logo_wrap {
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation-name: fadeInFor;
                    animation-duration: 200ms + 200ms * $i;
                }
            }
            a {
                max-width: 300px;
                display: inline-block;
                @include size(max-1560) {
                    max-width: 250px;
                }
                @include size(max-1200) {
                    max-width: 200px;
                }
                @include size(max-767) {
                    max-width: 160px;
                }
                img {
                    display: block;
                    &.black {
                        display: none;
                    }
                }
            }
        }
        .nva_wrap {
            @include size(max-767) {
                padding-right: 0px;
            }
            .nav_toggle_wrap {
                text-decoration: none;
                display: none;
                -webkit-tap-highlight-color: transparent;
                @include size(max-991) {
                    display: block;
                    margin-left: auto;
                    margin-right: 0;
                    width: var(--header-height);
                    height: var(--header-height);
                    border-radius: var(--header-height);
                }
                path {
                    fill: none;
                    stroke: #ffffff;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    --length: 24;
                    --offset: -38;
                    stroke-dasharray: var(--length) var(--total-length);
                    stroke-dashoffset: var(--offset);
                    transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
                }
                circle {
                    fill: rgba(255, 255, 255, 0.1);
                }
                .open svg {
                    .line--1,
                    .line--3 {
                        --length: 22.627416998;
                    }
                    .line--2 {
                        --length: 0;
                    }
                }
                .menu--1 {
                    .line--1,
                    .line--3 {
                        --total-length: 126.64183044433594;
                    }
                    .line--2 {
                        --total-length: 70;
                    }
                    &.open svg {
                        .line--1,
                        .line--3 {
                            --offset: -94.1149185097;
                        }
                        .line--2 {
                            --offset: -50;
                        }
                    }
                }
            }
            .nav {
                list-style: none;
                padding: 0;
                margin: 0;
                display: grid;
                flex-wrap: wrap;
                justify-content: right;
                align-items: center;
                // column-gap: 1rem;
                @include size(max-991) {
                    display: none;
                    position: fixed;
                    top: calc(var(--header-height) - 2px);
                    left: 0;
                    background: rgba(255, 255, 255, 1);
                    width: calc(100% - 1rem * 2);
                    margin-left: 1rem;
                    border-radius: 6px;
                    padding: 1.5rem 1.5rem;
                    box-shadow: 0 6px 18px -3px rgba(#000, 0.1);
                }
                @include size(max-767) {
                    padding: 0.75rem 1rem;
                }
                .item {
                    list-style: none;
                    grid-row: none;
                    position: relative;
                    @for $i from 1 through 8 {
                        &:nth-child(#{$i}) {
                            animation-name: fadeInFor;
                            animation-duration: 200ms + 200ms * $i;
                        }
                    }
                    .link {
                        display: inline-block;
                        text-decoration: none;
                        color: white;
                        font-size: 1.3125rem;
                        font-weight: 500;
                        padding: 0.75rem 1rem;
                        transition: color 400ms;
                        @include size(max-1560) {
                            font-size: 1.125rem;
                        }
                        @include size(max-1200) {
                            font-size: 1rem;
                            padding: 0.5rem 0.75rem;
                        }
                        @include size(max-991) {
                            font-size: 1.25rem;
                            padding: 0.75rem 0.75rem;
                            color: #000;
                            display: block;
                        }
                        @include size(max-767) {
                            font-size: 1.125rem;
                            padding: 0.5rem 0.75rem;
                        }
                        &:hover,
                        &:focus {
                            color: $clr-primary--300;
                        }
                    }
                    &.active {
                        > .link {
                            color: $clr-primary--300 !important;
                            &::before {
                                border-top-color: $clr-primary--300 !important;
                            }
                        }
                    }
                    &.sub_menu {
                        > .link {
                            padding-right: calc(1rem + 14px);
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 54%;
                                right: 8px;
                                transform: translateY(-50%);
                                width: 0;
                                height: 0;
                                border-left: 7px solid transparent;
                                border-right: 7px solid transparent;
                                border-top: 7px solid white;
                                transition: border-color 400ms;
                                @include size(max-1560) {
                                    border-width: 6px;
                                }
                                @include size(max-991) {
                                    border-top-color: #222;
                                }
                                @include size(max-767) {
                                    border-width: 5px;
                                }
                            }
                            &:hover {
                                &::before {
                                    border-top-color: $clr-primary--300;
                                }
                            }
                        }
                        @include size(min-991) {
                            &:hover {
                                > .link {
                                    color: $clr-primary--300;
                                    &::before {
                                        border-top-color: $clr-primary--300;
                                    }
                                }
                                .sub_menu__wrap {
                                    display: block;
                                }
                            }
                        }
                        @include size(max-991) {
                            &.showSub {
                                .sub_menu__wrap {
                                    display: block;
                                    position: static;
                                    width: 100%;
                                    padding: 0 0.75rem;
                                    .nav {
                                        display: grid;
                                        position: static;
                                        background: transparent;
                                        padding: 0rem;
                                        margin: 0;
                                        width: 100%;
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                        .sub_menu__wrap {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            min-width: 240px;
                            background-color: rgba(#000, 0.5);
                            border-radius: 6px;
                            padding: 0.75rem;
                            overflow: hidden;
                            box-shadow: 0 2px 18px -2px rgba(#fff, 0.1);
                            display: none;
                            @for $i from 1 through 2 {
                                &:nth-child(#{$i}) {
                                    animation-name: fadeInForUp;
                                    animation-duration: 200ms;
                                }
                            }
                            @include size(max-991) {
                                background-color: transparent;
                                box-shadow: none;
                            }
                            @include size(max-767) {
                                padding: 0 0.5rem;
                            }
                            .nav {
                                grid-template-columns: 1fr;
                                .item {
                                    grid-row: auto;
                                    @for $i from 1 through 6 {
                                        &:nth-child(#{$i}) {
                                            animation-name: fadeInFor;
                                            animation-duration: 200ms + 200ms * $i;
                                        }
                                    }
                                    .link {
                                        display: block;
                                        padding: 0.5rem 0.75rem;
                                        font-size: 1.125rem;
                                        @include size(max-1560) {
                                            font-size: 1rem;
                                        }
                                        @include size(max-991) {
                                            color: #333;
                                            font-size: 1rem;
                                        }
                                        @include size(max-767) {
                                            padding: 0.4rem 0.75rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
